<!-- views/user.erb -->
<h2>User: <%= @name.capitalize %></h2>

<h4>Email:</h4>
<p><%= @users[@name][:email] %></p>

<h4>Interests:</h4>
<p><%= @users[@name][:interests].join(', ') %></p>

<h4>Other Users:</h4>
<ul>
  <% @users.each do |name, _| %>
    <% next if name == @name %>
    <li><a href='/user?name=<%= name %>'>
      <%= name.capitalize %>
    </a></li>
  <% end %>
</ul>
